<div style="display: flex;">
    <div class="shipping-data-container">
        <p><b>Description: </b> {{this.discription}}</p>
        <p><b>Ship To: </b> {{this.shipToCity}}</p>
        <p>{{this.shipToStreet}}</p>
        <p>{{this.shipToProvince}}</p>
        <p><b>Supplier Product ID: </b> {{this.suppId}}</p>
        <p><b>UPC Number: </b> {{this.upc}}</p>
        <p><b>Contract Number: </b> {{this.contract}}</p>
        <div class="order-number-container">
            <mat-form-field appearance="outline">
                <input matInput placeholder="Sales Order Number">
            </mat-form-field>
        </div>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
</div>

<style>

    .shipping-data-container {
        display: block;
        width: 100%;
    }

    .shipping-data-container p {
        margin: 5px;
    }

    mat-divider {
        height: 30vh;
        width: 10px !important;
        position: inherit !important;
    }

    .order-number-container {
        display: flex;
        font-size: 12px;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: rgb(145, 140, 140);
    }
</style>