<mat-card class="mat-elevation-z0">
    <mat-card-title>
        <h3>
            {{data.sectionTitle}}
        </h3>
    </mat-card-title>
    <mat-card-content>
        <div class="order-data-card-container">
            <p><b>{{data.firstDataTitle}}:</b></p>
            <p>{{data.firstData}}</p>

            <p><b>{{data.secondDataTitle}}</b>:</p>
            <p>{{data.secondData}}</p>

            <div *ngIf="this.displayDateSelector">
                <mat-form-field appearance="outline">
                    <input matInput [matDatepicker]="picker" (dateInput)="dateChanged($event)" [required]="true">
                    <mat-label>Expected Ship Date</mat-label>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-hint>Required</mat-hint>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>